#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#navbar header {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.nav-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #ddd;
  color: #2c3e50;
}

#main-doc {
  margin-left: 290px;
  padding: 20px;
  transition: all 0.3s ease;
}

.main-section {
  margin-bottom: 30px;
}

.main-section header {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #2c3e50;
}

code {
  display: block;
  background-color: #f8f9fa;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-family: monospace;
  font-size: 1.2em;
  overflow-x: auto;
}

@media (max-width: 768px) {
  #navbar {
      position: relative;
      width: 100%;
      height: auto;
      border-right: none;
      padding: 10px;
      flex-direction: row;
      overflow-x: auto;
  }

  #navbar ul {
    flex-direction: row;
  }

  #main-doc {
      margin-left: 0;
      padding: 10px;
  }
}